<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Hospitalización en Casa</title>
    <link rel="preload" href="css/styles.css" as="style">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preload" href="css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    

</head>

<body>
    <header>
        <h1 class="title">Hospitalización
            <span class="titulo">en Casa</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-activity" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 12h4l3 8l4 -16l3 8h4" />
            </svg>
        </h1>

        

    </header>

    <div class="nav-bg">
        <nav class="vinculos contenedor">

            <a asp-area="" asp-page="/Index">Inicio</a>
            <a asp-page="/Pacientes">Buscar Pacientes</a>
            <a href="#">Buscar Médicos</a>
             <a asp-page="/buscarfamiliar">Buscar Familiar</a>

        </nav>
    </div>


    <section class="imagen">
        <div class="contenido-imagen">
            <h2>Tu bienestar en el mejor lugar.
            </h2>


            <div class="ubicar">

                <img src="/img/latido-del-corazon.png" alt="corazon">

            </div>  


        </div>  <!--.contenido-imagen -->

    </section>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <p>DS - Grupo 6 - Ciclo 3 - Misión Tic 2022.</p>
        <p>Todos los derechos Reservados.</p>
    </footer>
@RenderSection("Scripts", required: false)
</body>

</html>