@page
@model PacientesModel;
@using HospiEnCasa.App.Dominio;
@{
  ViewData["Title"] = "Pacientes";
}

<h2>PACIENTES REGISTRADOS</h2>

<main class="contenedor sombra">
  
  <table class="tablaPacientes">
    <thead>
      <tr>
        <th>Doc. Id.</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Ciudad</th>
        <th>Más</th>
      </tr>
    </thead>
    <tbody>
      @{
        foreach (var paciente in Model.Pacientes)
        {
            <tr>
              <td>@paciente.Documento</td>
              <td>@paciente.Nombre</td>
              <td>@paciente.Apellidos</td>
              <td>@paciente.Ciudad</td>
              <td><a class="boton-detalles" asp-page="/Paciente"><bold>Detalles</bold></a></td>
            </tr>
        }
      }
    </tbody>
  </table>

  <div class="alinear-derecha flex">
      <a class="boton" asp-page="/Index">Regresar</a>
  </div>

</main>

</html>